{% extends "admin/base.html" %}

{% block content %}
<div class="container">
  <div class="title">
    <h2>EDITAR USUARIO</h2>
  </div>
  <form method="post" action="" enctype="multipart/form-data" novalidate>
    <div class="row g-3 align-items-center my-3">
      <div class="col-2">
        <label for="FormControlInput1" class="form-label">Nombres</label>
      </div>
      <div class="col-10">
        {% if form.name.errors %}
        {{form.name(class="form-control is-invalid")}}
        {% for error in form.name.errors %}
        <span style="color: red">{{error}}</span>
        {% endfor %}
        {% else %}
        {{form.name(class="form-control", value="Jhon")}}
        {% endif %}
      </div>
    </div>

    <div class="row g-3 align-items-center my-3">
      <div class="col-2">
        <label for="FormControlInput2" class="form-label">Apellidos</label>
      </div>
      <div class="col-10">
       {% if form.lastname.errors %}
        {{form.lastname(class="form-control is-invalid", value="Doe")}}
        {% for error in form.lastname.errors %}
        <span style="color: red">{{error}}</span>
        {% endfor %}
        {% else %}
        {{form.lastname(class="form-control ", value="Usuario")}}
        {% endif %}
      </div>
    </div>

    <div class="row g-3 align-items-center my-3">
      <div class="col-2">
        <label for="FormControlInput3" class="form-label">Email</label>
      </div>
      <div class="col-10">
        {% if form.Email.errors %}
        {{form.Email(class="form-control is-invalid", value="usermail@domain.com")}}
        {% for error in form.Email.errors %}
        <span style="color: red">{{error}}</span>
        {% endfor %}
        {% else %}
        {{form.Email(class="form-control", value="usermail@domain.com")}}
        {% endif %}
      </div>
    </div>

    
    <div class="row g-3 align-items-center my-3">
      <div class="col-2">
        <label for="FormControlInput3" class="form-label">Usuario</label>
      </div>
      <div class="col-10">
        {% if form.username.errors %}
        {{form.username(class="form-control is-invalid", value="JhonDoe99")}}
        {% for error in form.username.errors %}
        <span style="color: red">{{error}}</span>
        {% endfor %}
        {% else %}
        {{form.username(class="form-control", value="JhonDoe99")}}
        {% endif %}
      </div>
    </div>

    <div class="row g-3 align-items-center my-3">
      <div class="col-2">
        <label for="FormControlInput4" class="form-label">Contraseña</label>
      </div>
      <div class="col-10">
       {% if form.password.errors %}
       {{form.password(class="form-control is-invalid", type="password")}}
       {% for error in form.password.errors %}
       <span style="color: red">{{error}}</span>
       {% endfor %}
       {% else %}
       {{form.password(class="form-control", type="password")}}
       {% endif %}
      </div>
    </div>

    <div class="row g-3 align-items-center my-3">
      <div class="col-2">
        <label for="FormControlInput4" class="form-label">Rol</label>
      </div>
      <div class="col-4">
        {{form.role(class="form-select form-select-sm")}}
      </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <div>
        <a href="{{url_for('usuario.user')}}" class="btn btn-outline-primary rounded-pill">
          <spam style="
              color: rgba(8, 83, 115, 1);
              border-color: rgba(8, 83, 115, 1);
              padding: 8px 32px;
            ">Cancelar</spam>
        </a>
      </div>
      <div >
        <button type="submit" class="btn btn-primary rounded-pill"
          style="background-color: rgba(8, 83, 115, 1); padding: 8px 32px">
          Guardar
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}