{% extends "admin/base.html" %}

{% block content %}
<div class="container">
    <div id="title-inventory">
        <h2>INVENTARIO</h2>
        <div id="contenedor-inventario">
            <h5 class="text-center">Registrar Venta</h5>
            <div class="form-inventario">
                <form method="post" action="/venta" enctype="multipart/form-data" novalidate>
                  {{form.hidden_tag()}}
                    <div class="row g-2">
                        <div class="col-auto">
                            {{form.select(class="form-select")}}
                        </div>
                        <div class="col-auto">
                            {% if form.valor.errors %}
                            {{form.valor(class="form-control is-invalid", type="number")}}
                                {% for error in form.valor.errors %}
                                  <span style="color: red">{{error}}</span>
                                {% endfor %}
                            {% else %}
                            {{form.valor(class="form-control", type="number")}}
                            {% endif %}
                        </div>
                    </div>
                    <div class="d-grid col-3 mx-auto">
                        <button class="btn" type="submit">Vender</button>
                    </div>
                </form>
                <div class="container">
                    <table class="table text-center table-hover">
                        <thead class="cabecera">
                          <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Producto</th>
                            <th scope="col">Vendido</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for venta in ventas %}
                          <tr>
                            <th scope="row">{{venta[0]}}</th>
                            <td>{{venta[1]}}</td>
                            <td>{{venta[2]}}</td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}