{% extends "endUser/base.html" %}

{% block content %}
<div class="container">
  <div class="d-grid gap-2 d-md-flex">
    <div>
      <h2>PROVEEDORES</h2>
    </div>
    <div id="form_buscar_prod" class="ms-auto">
      <form class="d-flex" method="post" action="" enctype="multipart/form-data" novalidate>
      {% if form.search.errors %}
      {{form.search(class="form-control me-2 is-invalid", type="search", placeholder="Search")}}
      {% for error in form.search.errors %}
       <span style="color: red">{{error}}</span>
      {% endfor %}
      {% else %}
      {{form.search(class="form-control me-2", type="search", placeholder="Search")}}
      {% endif %}
        <button class="btn" type="submit"><i class="bi bi-search"></i></button>
      </form>
    </div>
  </div>
  <div>
    <table class="table table-hover">
      <thead class="cabecera">
        <tr>
          <th>NIT</th>
          <th>Nombre</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for proveedor in proveedores %}
        <tr>
          <td>{{proveedor[1]}}</td>
          <td>{{proveedor[2]}}</td>
          <td>{{proveedor[5]}}</td>
          <td>
            <a href="/proveedor/{{proveedor[0]}}" class="btn"><i class="bi bi-eye-fill"></i></a>
            <a href="/proveedor/editar/{{proveedor[0]}}" class="btn"><i class="bi bi-pencil-square"></i></a>
            <a onclick="return confirm('¿Desea borrar el proveedor?')" class="btn" href="/proveedor/destroy/{{proveedor[0]}}" type="button"><i class="bi bi-eraser-fill"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  <div id="btn-space">
    <div class="d-grid gap-1 d-md-flex justify-content-md-end">
      <a class="btn" href="{{url_for('proveedores.addProvider')}}">Agregar Proveedor<i class="bi bi-truck"></i></a>
    </div>
  </div>
{% endblock %}