<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}" media="screen" />
</head>

<body class="dashboard">
    <div class="menu-collapsed" id="sidemenu">
        <!--HEADER -->
        <div id="header">
            <div id="title"><span>BYD</span></div>
            <div id="menu-btn">
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
                <div class="btn-hamburger"></div>
            </div>
        </div>
        <!--PROFILE-->
        <div id="profile">
            <div id="photo"><img src="https://i.ibb.co/TT4CwBP/perfil.jpg" alt="perfil" border="0"></div>
            <div id="name"><span>Username</span></div>
        </div>
        <!--ITEMS-->
        <div id="menu-items">
            <div class="item">
                <a href="{{url_for('usuario.adduser')}}">
                    <div class="icon"><i class="bi bi-people"></i></div>
                    <div class="title"><span>Usuarios</span></div>
                </a>
            </div>
            <div class="item">
                <a href="{{url_for('proveedores.provider')}}">
                    <div class="icon"><i class="bi bi-truck"></i></div>
                    <div class="title"><span>Proveedores</span></div>
                </a>
            </div>
            <div class="item">
                <a href="{{url_for('productos.product')}}">
                    <div class="icon"><i class="bi bi-box-seam"></i></div>
                    <div class="title"><span>Productos</span></div>
                </a>
            </div>
            <div class="item">
                <a href="{{url_for('inventario.inventory')}}">
                    <div class="icon"><i class="bi bi-clipboard-data"></i></div>
                    <div class="title"><span>Inventario</span></div>
                </a>
            </div>
            <div class="item" id="topline">
                <a href="#">
                    <div class="icon"><i class="bi bi-door-open"></i></i></div>
                    <div class="title"><span>Salir</span></div>
                </a>
            </div>
        </div>
    </div>

    <div id="main-container">
        <nav class="navbar">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1"></span>
            </div>
        </nav>
        {% block content %}
        {% endblock %}
    </div>

    <script src={{ url_for('static', filename='js/main.js') }}></script>
</body>
</html>