{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="text-center">
            <h2>EDITAR PROVEEDOR</h2>
        </div>
        <div id="contenedor-addproveedor">
            <form method="post" action="/editproveedor" enctype="multipart/form-data">
                  <div class="mb-3 row">
                    <label class="col-sm-1 col-form-label">Nombre</label>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" value="Isaac Arrieta MErcado"required>
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label class="col-sm-1 col-form-label">Telefono</label>
                    <div class="col-sm-6">
                      <input type="number" class="form-control" value="30086640000" required>
                    </div>
                  </div>
                  <div class="mb-3 row">
                    <label class="col-sm-1 col-form-label">Email</label>
                    <div class="col-sm-6">
                      <input type="email" class="form-control" value="isaac@correo.com" required>
                    </div>
                  </div>
                  <div id="btn-space-addProvider">
                    <div class="d-grid gap-2 d-md-flex justifi-center">
                      <a href="{{url_for('proveedores.provider')}}" id="btnCancelar"class="btn me-md-2">Cancelar</a>
                      <button id="btnAgregar" class="btn" type="submit">Editar Proveedor<i class="bi bi-truck"></i></button>
                    </div>
                  </div>
            </form>
        </div>
    </div>
{% endblock %}