{% extends "admin/base.html" %}

{% block content %}
<div class="container">
  <div class="d-grid gap-2 d-md-flex">
    <div><h2>PRODUCTOS</h2></div>
    <div id="form_buscar_prod" class="ms-auto">
      <form class="d-flex" method="post" action="" enctype="multipart/form-data" novalidate>
        {{form.hidden_tag()}}
        {% if form.search.errors %}
        {{form.search(class="form-control me-2 is-invalid", type="search", placeholder="Search")}}
        {% for error in form.search.errors %}
          <span style="color: red">{{error}}</span>
        {% endfor %}
        {% else %}
        {{form.search(class="form-control me-2", type="search", placeholder="Search")}}
        {% endif %}
        <button class="btn" type="submit"><i class="bi bi-search"></i></button>
      </form>
    </div>
  </div>
  <div>
    <table class="table table-hover">
      <thead class="cabecera">
        <tr>
          <th>Código</th>
          <th>Foto</th>
          <th>Producto</th>
          <th>Proveedor</th>
          <th>Calificación</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for producto in productos %}
        <tr>
          <td>{{producto[0]}}</td>
          <td><img class="img-thumbnail" width="50" src="uploads/{{producto[1]}}" alt="caja"></td>
          <td>{{producto[2]}}</td>
          <td>{{producto[3]}}</td>
          <td>{% for x in range(producto[4]) %}
            <div class="ec-stars-wrapper">
              <a href="#">&#9733;</a>
            </div>
            {% endfor %}
          </td>
          <td>
            <a class="btn" href="/producto/{{producto[0]}}"><i class="bi bi-eye-fill"></i></a>
            <a class="btn" href="/productos/editar/{{producto[0]}}"><i class="bi bi-pencil-square"></i></a>
            <a onclick="return confirm('¿Desea borrar el producto?')" class="btn" href="/producto/destroy/{{producto[0]}}"><i class="bi bi-eraser-fill"></i></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div id="btn_space">
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <a href="/lista" class="btn me-md-2" type="button">Generar Lista</a>
      <a class="btn" href="{{url_for('productos.addproduct')}}">Agregar Producto<i class="bi bi-box"></i></a>
    </div>
  </div>
</div>

{% endblock %}