{% extends "base.html" %}

{% block content %}
    <div class="container">
      <div class="container" id="title-adduser">
        <h2>ADD USER</h2>
      </div>
      <div class="container">
        <div class="row g-3 align-items-center my-3">
          <div class="col-2">
            <label for="FormControlInput1" class="form-label">Name</label>
          </div>
          <div class="col-10">
            <input type="text" class="form-control" id="addUserName" placeholder="Jhon" />
          </div>
        </div>

        <div class="row g-3 align-items-center my-3">
          <div class="col-2">
            <label for="FormControlInput2" class="form-label">Last Name</label>
          </div>
          <div class="col-10">
            <input type="text" class="form-control" id="addUserName" placeholder="Doe" />
          </div>
        </div>

        <div class="row g-3 align-items-center my-3">
          <div class="col-2">
            <label for="FormControlInput3" class="form-label">Email</label>
          </div>
          <div class="col-10">
            <input type="email" class="form-control" id="addUserName" placeholder="usermail@domain.com" />
          </div>
        </div>

        <div class="row g-3 align-items-center my-3">
          <div class="col-2">
            <label for="FormControlInput4" class="form-label">Username</label>
          </div>
          <div class="col-10">
            <input type="text" class="form-control" id="addUserName" placeholder="JhonDoe99" />
            <div id="FormControlInput5" class="form-text">
              Don’t include spaces or symbols
            </div>
          </div>
        </div>

        <div class="row g-3 align-items-center my-3">
          <div class="col-2">
            <label for="FormControlInput4" class="form-label">Password</label>
          </div>
          <div class="col-10">
            <input type="password" class="form-control" id="addUserName" placeholder="*********" />
            <div id="FormControlInput5" class="form-text">
              Minimun length 8, include almost one symbol
            </div>
          </div>
        </div>

        <div class="row g-3 align-items-center my-3">
          <div class="col-2">
            <label for="FormControlInput4" class="form-label">Rol</label>
          </div>
          <div class="col-10">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
              <option selected>Choose the rol</option>
              <option value="1">SuperAdmin</option>
              <option value="2">Admin</option>
              <option value="3">End-User</option>
            </select>
          </div>
        </div>
        <div class="row align-items-end">
          <div class="col-6"></div>
          <div class="col-auto">
            <button type="button" class="btn btn-outline-primary rounded-pill">
              <spam style="
                    color: rgba(8, 83, 115, 1);
                    border-color: rgba(8, 83, 115, 1);
                  ">Cancel</spam>
            </button>
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-primary rounded-pill" style="background-color: rgba(8, 83, 115, 1)">
              Add User
              <i class="fas fa-user-circle"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}