{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="title">
    <h2>EDITAR USUARIO</h2>
  </div>
  <form method="post" action="/editusuario" enctype="multipart/form-data">
    <div class="row g-3 align-items-center my-3">
      <div class="col-2">
        <label for="FormControlInput1" class="form-label">Name</label>
      </div>
      <div class="col-10">
        <input type="text" class="form-control" id="addUserName" placeholder="Jhon" value="Jhon" required/>
      </div>
    </div>

    <div class="row g-3 align-items-center my-3">
      <div class="col-2">
        <label for="FormControlInput2" class="form-label">Last Name</label>
      </div>
      <div class="col-10">
        <input type="text" class="form-control" id="addUserName" placeholder="Doe" value="Doe" required/>
      </div>
    </div>

    <div class="row g-3 align-items-center my-3">
      <div class="col-2">
        <label for="FormControlInput3" class="form-label">Email</label>
      </div>
      <div class="col-10">
        <input type="email" class="form-control" id="addUserName" placeholder="usermail@domain.com"
          value="JhonDoe99@mail.com" required/>
      </div>
    </div>

    <div class="row g-3 align-items-center my-3">
      <div class="col-2">
        <label for="FormControlInput4" class="form-label">Password</label>
      </div>
      <div class="col-10">
        <input type="password" class="form-control" id="addUserName" placeholder="*********" value="thepassword" required minlength="8"/>
        <div id="FormControlInput5" class="form-text">
          Minimun length 8, include almost one symbol
        </div>
      </div>
    </div>

    <div class="row g-3 align-items-center my-3">
      <div class="col-2">
        <label for="FormControlInput4" class="form-label">Rol</label>
      </div>
      <div class="col-10">
        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option selected value="1">SuperAdmin</option>
          <option value="2">Admin</option>
          <option value="3">End-User</option>
        </select>
      </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <div>
        <a href="{{url_for('usuario.user')}}" class="btn btn-outline-primary rounded-pill">
          <spam style="
              color: rgba(8, 83, 115, 1);
              border-color: rgba(8, 83, 115, 1);
              padding: 8px 32px;
            ">Cancelar</spam>
        </a>
      </div>
      <div >
        <button type="submit" class="btn btn-primary rounded-pill"
          style="background-color: rgba(8, 83, 115, 1); padding: 8px 32px">
          Guardar
        </button>
      </div>
    </div>
  </form>
</div>
{% endblock %}