{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="d-grid gap-2 d-md-flex">
    <div><h2>USUARIOS</h2></div>
    <div class="ms-auto">
      <a class="btn" id="btn-adduser" href="{{url_for('usuario.adduser')}}">Agregar usuario<i class="bi bi-person-circle"></i></a>
    </div>
  </div>
  <table class="table table-hover">
    <thead class="cabecera">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Usuario</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>
          <a class="btn" href="{{url_for('usuario.viewuser')}}" ><i class="bi bi-eye-fill"></i></a>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
        <td>
          <a class="btn" href="{{url_for('usuario.viewuser')}}" ><i class="bi bi-eye-fill"></i></a>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
        <td>
          <a class="btn" href="{{url_for('usuario.viewuser')}}" ><i class="bi bi-eye-fill"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
  </div>
</div>
{% endblock %}